<ion-header>
  <ion-toolbar class="titulo">
    <ion-title>
      Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="contenedor">
  <div class="card">
    <div class="card-border-top">
    </div>
    <img class="img" src="assets/imagenes/asistencia.jpg"> 
    <span> Asignatura</span>
    <p class="job">Usted esta inscrito en esta asignatura</p>
    <button (click)="mostrarcamara()">Haz click aqui para activar tu camara</button>
    <!--Imagen de código QR que aparecerá cuando se haga clic-->
    <div *ngIf="mostrarCamaraQR" class="camara-container">
      <img src="assets/imagenes/camaraqr.png" alt="camara" />
    </div>
  </div>
</div>
</ion-content>


<ion-footer>
  <ion-toolbar class="piedepagina">
    <ion-buttons slot="end">
      <ion-button  class="letravolver" (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

