.titulo{
    --background:rgb(39, 1, 66);
    color:aliceblue;
}

.btn {
    --background: rgb(80, 1, 136);
    display: block;
    margin-left: auto;
    margin-right: 0; 
}

.piedepagina{
    --background: rgb(121, 17, 195);
}

.letravolver{
    --color:aliceblue;
}